[submodule "Carthage/Checkouts/GCDKit"]
	path = Carthage/Checkouts/GCDKit
	url = https://github.com/JohnEstropia/GCDKit.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/younata/Nimble.git
